
@using Core.Entities

@model TeamMember
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>
<div>
    <p>@Model.Name</p>
    <p>@Model.Position</p>
    <p>@Model.Image</p>
    
</div>

